<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
	<appenders>
		<Console name="consolePrint" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{DEFAULT} [%t] %-5p %c{1.} %m%n" />
		</Console>

	</appenders>
	<loggers>
		<AsyncRoot level="INFO">
			<appender-ref ref="consolePrint" />
		</AsyncRoot>
	</loggers>
</configuration>